@import "assets/font-awesome";
@import "reset";
@import "modules/all";
@import "partials/base";
@import "partials/general";
@import "partials/layout/header";
@import "partials/layout/index";
@import "partials/components/article";
@import "partials/components/gallery";
@import "partials/components/pagination";
@import "partials/components/authorbox";
@import "partials/layout/post";
@import "partials/layout/sidebar";
@import "partials/layout/footer";
@import "partials/components/widget";
@import "partials/components/syntax";
@import "partials/components/lightbox";
@import "temporary";
@import "modules/all";
@import "partials/base";

$fourtothree: 1460px;
$threetotwo: 775px;
$twotoone: 530px;

.articles{
    @include flexbox(row, wrap, flex-start, stretch);
    width: 75%;

    @media screen and (max-width: $sidebarcollapse){
        width: 100%;
    }

    @media screen and (max-width: $twotoone){
        justify-content: center;
    }

    article{
        @include rowMachine(4, 1%, 25px);

        @media screen and (max-width: $fourtothree){
            @include rowMachine(3, 1%, 25px);
        }

        @media screen and (max-width: $threetotwo){
            @include rowMachine(2, 3%, 25px);
        }

        @media screen and (max-width: $twotoone){
            @include rowMachine(1, 0, 25px);
        }
    }
}
